<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdilab.flinketl.mapper.UserTaskMapper">
    <select id="findUserTaskByUserId" resultType="com.bdilab.flinketl.entity.UserTask">
        select * from user_task
        where fk_user_id = #{userId}
    </select>
</mapper>
